.update-button {
    min-width: 39%;
    min-height: 2em;
    font-weight: 500;
    cursor: pointer;
    color: blue;
    animation-duration: 0.1s;
    border-radius: 5px;
    transition: 0.3s;
  }
.del-button {
    min-width: 39%;
    min-height: 2em;
    font-weight: 500;
    cursor: pointer;
    margin-left: 2px;
    color: red;
    animation-duration: 0.1s;
    border-radius: 5px;
    transition: 0.3s;
}